---
/**
 * Fallback redirect for environments that don't support _redirects file.
 * Cloudflare Pages / Netlify will use _redirects for instant 301 redirect at edge.
 */
import { siteConfig } from '@/config/site';

const redirectUrl = `/${siteConfig.defaultLocale}/`;
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content={`0;url=${redirectUrl}`} />
    <meta name="robots" content="noindex" />
    <link rel="canonical" href={`${siteConfig.url}${redirectUrl}`} />
    <title>Redirecting...</title>
    <script define:vars={{ redirectUrl }}>
      window.location.replace(redirectUrl);
    </script>
  </head>
  <body></body>
</html>
